* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo {
    margin-left: 10px;
    margin-top: 5px;
}


#titolo {
   font-size: 50px;
   font-family: 'RocknRoll One', sans-serif;
   line-height: 50px;
   vertical-align: auto;
}